body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

.navBar {
  background-color: #353535;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 30px;
}

.navBar span {
  font-weight: 100;
}

#search {
  height: 28px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: #d9d9d9;
}

#searchBtn {
  height: 30px;
  width: 75px;
  background-color: #ffffff;
  color: #353535;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

#searchBtn:hover {
  background-color: #3c6e71;
  color: #ffffff;
}

.copyRight {
  opacity: 0.5;
  display: flex;
  justify-content: center;
}

.articleCard {
  display: flex;
  width: 100%;
  background-color: #d9d9d9;
  color: #353535;
  border-radius: 5px;
  padding: 10px;
  margin: 30px 0;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.articleText {
  padding: 0 0 0 10px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.1;
  color: #353535;
  margin-bottom: 10px;
}

.articleImg {
  object-fit: cover;
  width: 320px;
  height: 268px;
}

.author {
  font-size: 12px;
  font-weight: 300;

  margin-bottom: 15px;
}

.author a {
  text-decoration: none;
  color: #353535;
}

.author a:hover {
  text-decoration: none;
  color: #3c6e71;
  cursor: pointer;
}

/* Classes for future development */

/* .readArticle {
}

.authorName {
}

.lowerCard {
} */

.description {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.source {
  font-size: 12px;
  font-weight: 500;
}

.source a {
  text-decoration: none;
  color: #353535;
}

.source a:hover {
  text-decoration: none;
  color: #3c6e71;
  cursor: pointer;
}

@media (max-width: 880px) {
  .articleCard {
    flex-direction: column;
    width: 100%;
  }

  .articleImg {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
  }

  .navBar {
    flex-direction: column;
    height: fit-content;
  }

  .navBar h1 {
    font-size: 50px;
    margin-top: auto;
    opacity: 0.6;
  }
}
