body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

.navBar {
  background-color: #353535;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navBar span {
  font-weight: 100;
}

#search {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: #d9d9d9;
}

#searchBtn {
  height: 35px;
  width: 75px;
  background-color: #ffffff;
  color: #353535;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

#searchBtn:hover {
  background-color: #3c6e71;
  color: #ffffff;
}

.copyRight {
  opacity: 0.5;
  display: flex;
  justify-content: center;
}

.articleCard {
  background-color: #000;
  color: #fff;
  /* border-radius: 15px; */
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
}

.articleImg {
}

.articleText {
}

.title {
}

.author {
}

.readArticle {
}

.authorName {
}

.lowerCard {
}

.description {
}
